
  .stats .col {
    /* border: 1px solid red; */
    margin: 0;
    padding: 3;
  }
  .statContainer {
    margin: 5px;
    width: 100%;
    font-size: 13px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #fff;
    padding: 0;
    overflow: hidden;
  }
  .statContainer .title {
    padding: 5px 10px;
    color: #fff;
  }
  .statContainer.blue .title {
    background-color: #2d72c0;
  }
  .statContainer.blue .status {
    color: #2d72c0;
  }
  
  .statContainer.yellow .title {
    background-color: #f3a254;
  }
  .statContainer.yellow .status {
    color: #f3a254;
  }
  
  .statContainer.fountainBlue .title {
    background-color: #6abebf;
  }
  .statContainer.fountainBlue .status {
    color: #6abebf;
  }
  
  .statContainer.lightBlue .title {
    background-color: #52a1e5;
  }
  .statContainer.lightBlue .status {
    color: #52a1e5;
  }
  
  .statContainer.purple .title {
    background-color: #916df6;
  }
  .statContainer.purple .status {
    color: #916df6;
  }
  
  .statContainer.pink .title {
    background-color: #ef6e85;
  }
  .statContainer.pink .status {
    color: #ef6e85;
  }
  
  .statContainer.orange .title {
    background-color: #ff7043;
  }
  .statContainer.orange .status {
    color: #ff7043;
  }
  @media (max-width: 1200px) {
    .stats .col {
      min-width: 20% !important;
    }
  }
  
  @media (max-width: 887px) {
    .stats .col {
      min-width: 25% !important;
    }
  }
  @media (max-width: 768px) {
    .stats .col {
      min-width: 50% !important;
    }
  }
  @media (max-width: 525px) {
    .stats .col {
      min-width: 100% !important;
    }
  }
  