
/*============================================================== 
 flot chart
 ============================================================== */
.flot-chart {
  display: block;
  height: 300px; 
  background-color: aqua;
}

.flot-chart-content {
  width: 100%;
  height: 100%; }

