@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Lobster&family=Playwrite+DE+Grund:wght@100..400&family=Playwrite+US+Modern:wght@100..400&family=Satisfy&display=swap');

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

body {
    font-family: "Alegreya", serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #333;
    font-size: 13px;
    margin: 0;
}

/* button */
.btn-2 {
    background: rgb(0, 0, 128) !important;
    background: linear-gradient(0deg, rgb(0, 0, 128) 0%, rgba(0, 0, 128, 1) 100%) !important;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    height: 45px;
    width: 120px;
}

.btn-2:before {
    height: 0%;
    width: 2;
}

.btn-2:hover {
    box-shadow: 4px 4px 6px 0 rgba(19, 17, 17, 0.5),
        -4px -4px 6px 0 rgba(116, 125, 136, .5),
        inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
        inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

/* button end*/

/* social btns  */
.icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: -10px;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 5px; */
    height: 40px;
    width: 40px;
    border-radius: 20px;
    box-shadow: -5px 5px 15px #333;
    text-align: center;
    transition: all 0.3s;
    overflow: hidden;
}

.social:hover {
    cursor: pointer;
    transition: all 0.3s;
}

.social-icon {
    text-decoration: none;
    color: #e7e7e7;
    padding: 22px;

    font-size: 18px;
}

.social-icon:hover {
    animation: slide 1s ease;
}

.social>a {
    padding: 20px;
}

.social:nth-child(1) {
    background: #3b5999;
}

.social:nth-child(2) {
    background: #38A1F3;
}

.social:nth-child(3) {
    background: #db4a39;
}

.social:nth-child(4) {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.social:nth-child(5) {
    background: #0077B5;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(20px);
        opacity: 0;
    }

    51% {
        transform: translateX(-20px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
    }
}

/* social btn end  */

/*  */
input,
textarea,
select,
button {
    font-family: "Alegreya", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-optical-sizing: auto;
    color: #333;
    font-size: 13px
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
    margin: 0
}

img {
    max-width: 100%
}

ul {
    padding-left: 0;
    margin-bottom: 0
}

a:hover {
    text-decoration: none
}

:focus {
    outline: none
}

.backk{
    background-image:linear-gradient(to left, rgba(0, 0, 0, 0.296),rgba(51, 81, 155, 0.389)), url('icons/bg_1.jpg');
    background-size: 100%;
    /* overflow-y: hidden !important; */

}
.wrapper {
    min-height: 90.2vh !important;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;

   
}

.main-inner {
    background-color: rgb(0, 0, 128);
}

.inner {

    padding: 20px;
    background: #fff;
    max-width: 950px;
    max-height: 100%;
    margin: auto;
    display: flex;
    box-shadow: 0px 0px 30px gray;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.423);
}

.inner .image-holder {
    width: 50%
}

.inner form {
    width: 50%;
    height: 100%;
    padding-top: 36px;
    padding-left: 45px;
    padding-right: 45px
}

.inner h3 {
    text-transform: uppercase;
    font-size: 25px;
    font-family: poppins-semibold;
    text-align: left;

}

.inner p {
    margin-bottom: 28px
}

.form-group {
    display: flex
}

.form-group input {
    width: 50%
}

.form-group input:first-child {
    margin-right: 25px
}

.form-wrapper {
    position: relative
}

.form-wrapper i {
    position: absolute;
    bottom: 9px;
    right: 0
}

.form-control {
    border: 1px solid gray;
    border-top: none;
    border-right: none;
    border-left: none;
    display: block;
    width: 100%;
    height: 30px;
    padding: 0;
    margin-bottom: 25px
}

.form-control::-webkit-input-placeholder {
    font-size: 13px;
    padding: 10px;
    color: #333;
    font-family: poppins-regular
}

.form-control::-moz-placeholder {
    font-size: 13px;
    color: #333;
    font-family: poppins-regular
}

.form-control:-ms-input-placeholder {
    font-size: 13px;
    color: #333;
    font-family: poppins-regular
}

.form-control:-moz-placeholder {
    font-size: 13px;
    color: #333;
    font-family: poppins-regular
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    padding-left: 20px
}

select option[value=""][disabled] {
    display: none
}






@-webkit-keyframes hvr-icon-wobble-horizontal {
    16.65% {
        -webkit-transform: translateX(6px);
        transform: translateX(6px)
    }

    33.3% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px)
    }

    49.95% {
        -webkit-transform: translateX(4px);
        transform: translateX(4px)
    }

    66.6% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px)
    }

    83.25% {
        -webkit-transform: translateX(1px);
        transform: translateX(1px)
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@keyframes hvr-icon-wobble-horizontal {
    16.65% {
        -webkit-transform: translateX(6px);
        transform: translateX(6px)
    }

    33.3% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px)
    }

    49.95% {
        -webkit-transform: translateX(4px);
        transform: translateX(4px)
    }

    66.6% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px)
    }

    83.25% {
        -webkit-transform: translateX(1px);
        transform: translateX(1px)
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@media(max-width:1199px) {
    .wrapper {
        background-position: right center
    }
}

@media(max-width:991px) {
    .inner form {
        padding-top: 10px;
        padding-left: 30px;
        padding-right: 30px
    }
}

@media(max-width:767px) {
    .inner {
        display: block
    }

    .inner .image-holder {
        width: 100%
    }

    .inner form {
        width: 100%;
        padding: 40px 0 30px
    }

    button {
        margin-top: 60px;
        background-color: rgb(164, 153, 153);
    }
}
