
.Login{
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-main{
  clip-path: polygon(68% 0, 39% 53%, 69% 100%, 0% 100%, 0 44%, 0% 0%);
  /* background: rgb(175, 38, 63) !important; */
  background-image: linear-gradient(to top left , #dc3545, #c01909,#D10363) !important;

  position: absolute;
  left: 0;
  width: 50% !important;
  height: 100vh;
 
 
}
.login-container{
  
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 000;
  width: 100%;
  background-image: url('/image/back.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  
}
.login-img{
  width: 90%;
}
.login-heading{
  line-height: 1;
  
}
.login-heading p{
  
  color: #ffff;
   
  font-size: 34px;
  
}
.unique{
  color:rgba(139, 19, 21, 0.819) ;
}
.unique:hover{
  color:rgba(139, 19, 21, 0.819) ;
  text-decoration: none;
  transform: scale(1.2);
  transition: 1s;
}

.login-heading h1{
  font-size: 56px;
  color: #ffff;
 
  font-weight: 600;
}
.login-thought{
font-size: 16px;
color: #ffff;
}
.login-img-box{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(5, 5, 5, 0.4);
  backdrop-filter: blur(5px);
 
}
.login-imgs{
max-width: 150px !important;
width: 100%;
height: auto;
position: absolute ;
top: 2.5% !important;
z-index:4444 !important;
}
.form-heading{
  font-size: 30px;
}


.fa-facebook-f{
  background-color: rgba(0, 0, 128, 0.251);
  color: navy;
  padding: 10px 12px 10px 12px !important;
  border-radius: 5px;
  font-size: 16px;
}
.fa-google{
  background-color: rgba(128, 0, 11, 0.251);
  color: rgb(128, 0, 0);
  padding: 10px !important;
  border-radius: 5px;
  font-size: 16px;

}
.fa-twitter{
  background-color: rgba(0, 102, 128, 0.247);
  color: rgb(0, 107, 128);
  padding: 10px !important;
  border-radius: 5px;
  font-size: 16px;

}
.password-toggle{
  position: absolute;
  top: 28% !important;
  right: 15%;
  color: rgba(128, 0, 0, 0.5);
}
.formbg {
  margin-top:-82px ;
  z-index: 0;
  width: 100%;
  max-width: 450px;
  background: white;
  border-radius: 4px;
  box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
}
.backdrop{

width: 100%;
}














@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");


h1 {
  letter-spacing: -1px;
}
.login-heading{
font-size: 30px;
padding-left: 20px;
padding-top: 10px;
}


.login-col{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
position: relative;
}
.backgroundimage{
display: flex;
justify-content: center;
align-items: center;
padding-bottom: 58px;

}


.foodimg{
/* margin-left: -50px; */
width: 100%;
}






.login-btn {
/* background: rgb(175, 38, 63) !important; */
background-image: linear-gradient(to top left , #dc3545, #c01909,#D10363) !important;

color: white !important;
} 


.p-lg--5 {
padding: 100px;
}
.flex-flex {
  display: flex;
}
.align-center {
align-items: center; 
}
.center-center {
align-items: center;
justify-content: center;
}

.flex-direction--column {
  
  flex-direction: column;
}


.box-divider--light-all-2 {
  box-shadow: inset 0 0 0 2px #e3e8ee;
}
.box-background--blue {
  background-color: #5469d4;
 
}
.box-background--white {
background-color: #ffffff; 
}
.box-background--blue800 {
  background-color: #212d63;
}
.box-background--gray100 {
  background-color: #e3e8ee;
}
.box-background--cyan200 {
  background-color: #7fd3ed;
}
.padding-top--64 {
padding-top: 64px;
}
.padding-top--24 {
padding-top: 24px;
}
.padding-top--48 {
padding-top: 40px;
}
.padding-bottom--24 {
padding-bottom: 15px;
}
.padding-horizontal--48 {
padding: 10px;
}
.padding-bottom--15 {
padding-bottom: 15px;
}


.flex-justifyContent--center {
-ms-flex-pack: center;
justify-content: center;
}




span {
  display: block;
  font-size: 18px;
  line-height: 28px;
  color: #1a1f36;
}
label {
  margin-bottom: 5px;
  font-size: 17px !important;
}
input::placeholder{
font-size: 16px;
}
.reset-pass,label {
  font-size: 20px;
  font-weight: 600;
  display: block;
}
.reset-pass > a {
  text-align: right;
  margin-bottom: 10px;
}
.grid--50-50 {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}
.field-checkbox input[type="checkbox"]:checked {
background-color:#E20101;
}

.field input {
  font-size: 20px;
  line-height: 28px;
  padding: 8px 16px;
  width: 100%;
  min-height: 44px;
  border: unset;
  border-radius: 4px;
  outline-color:  #E20101;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}

input[type="submit"] {
  background-color: #E20101;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, 
              #E20101 0px 0px 0px 1px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(60, 66, 87, 0.08) 0px 2px 5px 0px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}
.field-checkbox input {
  width: 20px;
  height: 15px;
  margin-right: 5px; 
  box-shadow: unset;
  min-height: unset;
}
.field-checkbox label {
  display: flex;
  align-items: center;
  margin: 0;
}
a.ssolink {
  display: block;
  text-align: center;
  font-weight: 600;
}
.footer-link span {
display: flex;
justify-content: space-between;
align-items: center;
font-size: 14px;

}
.listing a {
  color: #697386;
  font-weight: 600;
  margin: 0 10px;
}
.or{
display: flex;
justify-content: space-between;
align-items: center;
}
.or, hr{
width: 400px;

}
.icon{
margin-top: -50px;

}
.fa-facebook-f{
background-color: rgba(0, 0, 128, 0.251);
color: navy;
padding: 15px 18px 15px 18px;

border-radius: 5px;
font-size: 16px;
}
.fa-google{
background-color: rgba(128, 0, 11, 0.251);
color: rgb(128, 0, 0);
padding: 15px;
border-radius: 5px;
font-size: 16px;

}
.fa-twitter{
background-color: rgba(0, 102, 128, 0.247);
color: rgb(0, 107, 128);
padding: 15px;
border-radius: 5px;
font-size: 16px;

}

.formbg-outer{
position: relative;
}


/* Responsive================================= */
@media screen and (max-width: 360px) {
  .Login{
  padding-top: 250px;
  overflow: scroll;
  }

.box-root{
  margin-top: 20px;
  padding: 0;
}
.login-heading{
   font-size: 10px !important;
  }
  .or, hr{
    width: 250px;
    
  }
  .newAcc,span{
    font-size: 12px;
  }
  .Forgotpassword{
    font-size: 10px;
  }
  .formbg {
    padding: 0; 
  }
  .responsive-image {
    width: 100%; 
    max-height: 300px; 
  }
  .password-toggle{
    position: absolute;
    top: 48%;
    right: 18%;
  }
  label{
    font-size: 13px;
  }
  .field input {
    font-size: 16px;
    
}
.login-imgs{
  top: 25.5% !important;
  right: 6%;
  width: 50% ;
}
.unique{

}
}


