/* .form-control::placeholder{
    color: gray !important;
    padding-right: 10px;
} */
/* .labels{
    line-height: 0px;
}  */

.heading{
color:  rgb(0, 0, 128);
}
.custom{
    width: 150px !important;
}