/* header start ========================================== */
.header-menus li {
  list-style-type: none;
}

.list-box {
  width: 700px;
  position: absolute;
  top: 0;
  z-index: 11111;

}
.header-menu{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.collapse-inner {
  background-color: white;
  border-bottom: 2px solid navy;
}

.Products-type{
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: start;
  align-items: center;
}
.list-group-item-action{
   color: black!important;
   text-transform: capitalize;
   padding-top: 4px;
   font-size: 14px;
   padding-bottom: 4px;
   padding-left: 40px;
}
.Products-type h5{
  font-size: 18px;
  text-align: left !important;
  padding-right: 20px;
  color: navy;
  font-weight: 500;
}

.Table-type{
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: start;
  align-items: center;

}
.Table-type h5{
  
  font-size: 18px;
  text-align: left !important;
  /* padding-right: 65px; */
  color: navy;
  font-weight: 500;
}
/* .Table-type .list-group-item-action{
  color: black!important;
  text-transform: capitalize;
  padding-top: 2px;
  padding-left: 30px;
  font-size: 14px;
  padding-bottom: 4px;

} */
.Billing-type{
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: start;
  /* padding-bottom: 0%; */
  align-items: center;
}
/* .Billing-type .list-group-item-action{
  color: black!important;
  text-transform: capitalize;
  padding-top: 4px;
  padding-left: 50x;
  font-size: 14px;
  padding-bottom: 4px;
} */
.Billing-type h5{
  font-size: 18px;
  text-align: left !important;
  padding-right: 20px;
  color: navy;
  font-weight: 500;
}
.img-w{
  width: 50px;
}
/* Header End============================================== */

/* navbar============================================== */
.collapse {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.collapse.show {
  max-height: 500px; /* Adjust as needed */
}

#maincourse{
  margin-top: -15px;
}
#desserts{
  margin-top: -15px;
}
.navbar-nav {
  background: navy;
  border-right: 10px solid white;
  /* background-image: linear-gradient(to top left ,#d63384, #dc3545, #fd2714,#ffc107d2) !important; */
}

.navbar {
  background-color: navy !important;
 
}

.Appetizers {
  font-size: 16px !important;
}

.nav-food {

  padding: 10px;
  margin-top: 5px;
  list-style-type: none;
  text-align: left;
}

.nav-food-header li {
  border-bottom: 1px solid rgba(184, 182, 182, 0.885);
  list-style-type: none;
  padding-bottom: 5px;
  padding-top: 10px;
}

.food-arrange {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: -10px;
}

.menu {
  display: flex;
  justify-content: center;
}

.dropdown {
  padding: 20px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: #34495e;
  position: relative;
  font-size: 18px;
  perspective: 1000px;
  z-index: 100;
}

.dropdown:hover {
  background: #2980b9;
  cursor: pointer;
}

.dropdown:hover .dropdown_menu li {
  display: block;
}

.dropdown_menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  perspective: 1000px;
  z-index: -1;
}

.dropdown_menu li {
  display: none;
  color: white;
  background-color: #34495e;
  padding: 10px 20px;
  font-size: 16px;
  opacity: 0;
}

.dropdown_menu li:hover {
  background-color: #2980b9;
}

.dropdown_menu-1 {
  animation: slideDown 300ms ease-in-out forwards;
}





@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-60px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


/* nav end================================================================== */


.editforms {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.label {
  color: black !important;
}

.search-icons {
  position: relative;
  top: 200px;
  right: 10%;
}

.search-icons {
  position: absolute;
}

.set-searchbar {
  display: flex;
  justify-content: flex-end;
  position: relative;
  width: 100%;
}

.fa-magnifying-glass {
  position: absolute;
  top: 13px;
  left: 47%;
}

.field {
  border: none;
}

.sub-category {
  overflow: hidden !important;
}

.sidebar-divider {
  color: white;
  background-color: white;
  width: 180px;
  height: auto;
}

.iii {
  padding-left: 8px;
}

.sidenav-menu {
  padding-bottom: 20px;
  padding-left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}



.get-in-touch {
  /* max-height: 00px; */
  margin: 50px auto;


}


.contact-form .form-field {
  position: relative;
  margin: 32px 0;
}

.contact-form .input-text {
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 2px 0;
  border-color: gray;
  opacity: 0.5;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  padding-top: 14px;
}

.contact-form .input-text:focus {
  outline: none;
}

.contact-form .input-text:focus+.label,
.contact-form .input-text.not-empty+.label {
  -webkit-transform: translateY(-64px);
  transform: translateY(-24px);
}

.contact-form .label {
  position: absolute;
  left: 20px;
  bottom: 11px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #5543ca;
  cursor: text;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out,
    -webkit-transform .2s ease-in-out;
}

.contact-form .submit-btn {
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  width: 200px;
  cursor: pointer;
}

option {
  border: none;
}

option:hover {
  background-color: none;
}

.food-type {
  font-size: 10px;
}


/*  Add Product Style*/
.custom-product{
  margin-top: 0px !important;
}