.border-none{
    border: none;
    background-color: transparent;
    width: 35px;
}
/* .form-control::placeholder{
    color: gray !important;
    padding-right: 10px;
} */
/* .labels{
    line-height: 0px;
}  */

.heading{
    color:  rgb(0, 0, 128);
    }
    .custom{
        width: 150px !important;
    }
    

    .payment-card {
      max-width: 173px;
      height: 110px;
      background: #52515184;
      color: #fff !important;
      /* margin: 30px 10px; */
      padding:20px 20px;
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      box-shadow: 0 5px 200px rgba(0, 0, 0, 0.5);
      transition: 0.5s ease-in-out;
    }
    
    .payment-card:hover {
      height: 300px;
    }
    
    .payment-card:hover .content {
      visibility: visible;
      opacity: 1;
      transition-delay: 0.2s;
    }
    .payment-card .image-wrapper {
      position: relative;
      width: 130px;
      height: 100px;
      top: -60px;
      z-index: 1;
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    }
    
    .payment-card .image-wrapper img {
        width: 130px;
      height: 130px;
      border-radius: 4px;
    }
    
    .payment-card .content {
      left: -10px;
      top: 8%;
      position: relative;
      width: 150px;
      color: #111;
      visibility: hidden;
      opacity: 0;
      transition: 0.5s ease-in-out;
    }
    .d-block{
        height: 600px;
    }

    .Billing-here{
      background-color: #071952;
    }
   .counter-border{
     width: 30px;
     padding-top:4px;
     padding-bottom: 3px;
   
   }

/* Radio buttons============================================ */



.toggle-button {
  position: relative;
  display: inline-block;
  color: #0c0404;
  margin: 0 20px; }
  .toggle-button label {
    display: inline-block;
    text-transform: uppercase;
    cursor: pointer;
    text-align: left; }
  .toggle-button input {
    display: none; }
  .toggle-button__icon {
    cursor: pointer;
    pointer-events: none; }
    .toggle-button__icon:before, .toggle-button__icon:after {
      content: "";
      position: absolute;
      transition: 0.2s ease-out; }

@media only screen and (max-width: 480px) {
  .toggle-button--valo {
    display: block;
    width: 110px;
    margin: 0 auto 10px auto; } }

.toggle-button--valo label {
  width: 80px;
  height: 20px;
  line-height: 20px;
  transition: all 0.2s; }
  .toggle-button--valo label:before, .toggle-button--valo label:after {
    position: absolute;
    top: 0;
    left: 30px;
    width: 110px;
    transition: all 0.2s .1s ease-out; }
  .toggle-button--valo label:before {
    content: attr(data-text); }

.toggle-button--valo input:checked ~ .toggle-button__icon:after {
  transform: translate(0, 0);
  animation: show .2s; }

.toggle-button--valo .toggle-button__icon {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  height: 20px;
  width: 20px;
  overflow: hidden;
  border-radius: 50%; }
  .toggle-button--valo .toggle-button__icon:before, .toggle-button--valo .toggle-button__icon:after {
    border-radius: 50%; }
  .toggle-button--valo .toggle-button__icon:before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    box-shadow: inset 2px 1px 10px rgba(0, 0, 0, 0.15); }
  .toggle-button--valo .toggle-button__icon:after {
    top: 4px;
    left: 4px;
    width: 60%;
    height: 60%;
    background: #61B136;
    animation: hide .2s ease-out;
    transform: translate(0, 200%);
    transition: none; }

.toggle-button--valo:hover input:not(:checked) ~ .toggle-button__icon {
  animation: hover .2s; }

.toggle-button--valo:hover input:not(:checked) ~ label:before {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2); }

@keyframes hide {
  0% {
    transform: translate(0, 0); }
  100% {
    transform: translate(0, -200%); } }

@keyframes show {
  0% {
    transform: translate(0, 200%); }
  100% {
    transform: translate(0, 0); } }

@keyframes hover {
  0% {
    transform: scale(1); }
  30% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }


@keyframes slideRight {
  0% {
    transform: translate(0, 0); }
  100% {
    transform: translate(-200%, 0); } }

@keyframes slideLeft {
  0% {
    transform: translate(200%, 0); }
  100% {
    transform: translate(0, 0); } }

@keyframes hover {
  0% {
    transform: scale(1); }
  30% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

@media only screen and (max-width: 480px) {
  .toggle-button--maa {
    display: block;
    width: 110px;
    margin: 0 auto 10px auto; } }

